.image-container {
  width: 98%;
  margin: 30px auto;
  display: flex;
}

.gallery-photo {
  width: 100%;
  height: auto;
}

.column {
  max-width: 32%;
  margin: 0 auto;
}

.column img {
  margin: 2% 0;
  vertical-align: middle;
  width: 100%;
}