.image-container {
  width: 95%;
  margin: 30px auto;
  /* display: flex;
  flex-wrap: wrap; */
  display: block;
}

/* .img-box {
  display: flex;
  flex-wrap: wrap;
  flex: 25%;
  max-width: 32%;
  margin: 0 8px;
} */

.gallery-img {
  width: 100%;
  height: auto;
  max-height: 700px;
  vertical-align: middle;
}

.gallery-img:hover {
  filter:opacity(60%);
}



/* 
@media screen and (min-width:481px) and (max-width:768px) {
  .img-box {
    flex: 34%;
    max-width: 48%;
    margin: 0 auto;
  }

}


@media screen and (min-width:320px) and (max-width:480px) {
  .img-box {
    flex: 100%;
    max-width: 96%;
  }

} */